
@media (max-width: 575px)
{

    /* _____________________________ OCULTAR BARRA DE NAVEGACION ___________________________*/

    .navbar,
    .actions {
      text-align: center;
      display: none;
    }

    /* ____________________ TITULO ______________________________*/
    .main {
      margin-top: 100px;
    }
    h1 {
      font-size: 30px;
    }
    
    /*_____________________________ IMAGEN CAPTERRA / TOPS ______________________________________*/

    .banner > img {
        width: 100%;
  }

  .tops > img {
    width: 100%;
    margin-left: 0;
  }
  /*______________________________ SECCION PUBLICIDAD ____________________________________*/

  .promo {
    flex-direction: column;
    max-width: 90%;
  }

  .explanatory-video > video {
    width: 100%;
  }

  .publish {
    margin-top: 10px;
  }

  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  .publish > form {
    flex-direction: column;
  }

  .publish > form > div {
    height: 50px;
    margin-top: 0;
  }

  .publish > form > div > input {
    width: 65%;
  }
  /*_________________________________ SECCION CARACTERISTICAS ______________________________*/

  .features {
    grid-template: repeat(4, 1fr) / 1fr;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-image {
    display: none;
  }
  /*_________________________________ SECCION HISTORIAS DE EXITO ____________________________*/
  .success-stories {
    flex-direction: column;
}
}

@media (max-width: 991px) 
{
  .actions,
  .navbar {
    text-align: center;
  }

  .success-stories {
    flex-direction: column;
    padding: 5% 15px;
  }
}